# prints each word in reverse.

In [1]:
new_string=input()
a=new_string.split(' ')
reverse_string=' '.join(a[::-1]).lower()
b=reverse_string.capitalize()
print(b)

"This declaration represents a political commitment among declaration partners to advance a positive vision for the Internet in this era of a united europe."
Europe." united a of era this in internet the for vision positive a advance to partners declaration among commitment political a represents declaration "this

# prints Top 2 occurring words in sorted order. The words that have occurred most of the time.

In [2]:
new_string=input()
a=new_string.split(' ')
reverse_string=' '.join(a[::-1]).lower()
b=reverse_string.capitalize()
print(b)
from collections import Counter
split_it = b.split()
Counter = Counter(split_it)
most_occur = Counter.most_common(2)
print(most_occur)

a
A
[('A', 1)]

# ASSIGNMENT-02SQL

# There is a Customer Table having a single column with list of customer id. There is a Voucher table having a single column with list of voucher ids.
# Develop a query that will assign one voucher to one customer and vice versa. Two customers will not get same voucher. Two Voucher will not be assigned to a single customer.

CREATE TABLE Customer (Customer_Id varchar(255));
 INSERT INTO Customer VALUES('Customer_Id'),('Abhinash'),('Vipin'),('Mahesh'),('Bijoy'),('Bhabani'),('Ashutosh')
    
 CREATE TABLE Voucher (Voucher_Id varchar(255) UNIQUE);
 INSERT INTO Voucher VALUES('ABXFH'),('SDFGH'),('ERTYY'),('PPLKM')
    
 ;with cte 
 as(select *,row_number() over(order by Customer_Id) rr from Customer)
 ,cte2 as(select *,row_number() over(order by Voucher_Id) rr from Voucher)
    
 select Customer_Id Customer_Key,Voucher_Id Gift_Voucher_Key
 from cte c1
 join cte2 c2 on c1.rr=c2.rr